<section class="homePage__container">
    <h1 class="">Login</h1>
    <form action="/login" method="POST" class="space-y-6">
      <div>
        <label for="username" class="">Username</label>
        <input type="text" id="username" name="username" required value="admin" class="" />
      </div>
      <div>
        <label for="password" class="">Password</label>
        <input type="password" id="password" name="password" required value="admin" />
      </div>
      <button type="submit" class="button-secondary">Login</button>
    </form>
    <p class="">
      Don't have an account?
      <a href="/singup" class="">Signup</a>
    </p>
</section>
